body{
    margin:0;
}

.header-bg{
    width:100%;

}
.head-wrapper{
    width:90%;
    height:auto;
    margin-top:-100px;
    margin-left:50px;
    position:relative;
}
.logo{
    position:absolute;
    margin-top:10px;
    float:left;
}
.separater{
    height:45px;
    width:1px;
    border-left:1px solid white;
    display:inline-block;
    position:absolute;
    margin-top:17px;
    margin-left:230px;
    opacity:0.5
}
label{
    position:absolute;
    margin-left:250px;
    margin-top:30px;
    color:white;
}
.drop1{
    margin-left:300px;
    margin-top:30px;
    color:white;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


ul{
    font-size:16px;
    font-family:arial;
    float:right;

}

li{
    display:inline;
    padding:15px;
    color:white;
}
.fas:hover{
    cursor:pointer;
}
li,a,label,h1,h4,button{
    text-decoration:none;
    color:white;
    font-family:arial;
}
a:hover{
    text-decoration:underline;
}

.for-banner{
    display:inline-block;
    padding-top:20px;
    text-align:center;
}
.for-banner img{
    width:100%;
}
.content-on-banner{
    margin-top:-260px;
    color:white;
    border:1px solid white;
    padding:px;
}
h1{
    font-size:55px;
    margin:0px;

}
h4{
    font-size:18px;
    margin:10px;
}
button{
    height:40px;
    border:none;
    width:140px;
    margin-top:20px;
    border-radius:17px;
    cursor:pointer;
    background-image:linear-gradient(90deg,#EF5F00,#FE1A00);
    font-size:14px;
    font-weight:900;
}
button:hover{
    background-image:linear-gradient(90deg,#ef5f00a6,#fe1a00c9);

}
.video-section{
    text-align:center;
    margin-top:80px;
    border:1px solid;

}
.video-section h1{
    color:#000000a6;
    margin-top:50px;
    margin-bottom:20px;
}
.video-navigator{
    width:85%;
    margin:auto;
    display:inline-block;
    box-shadow:10px 0px 35px #8888887a;

}
.video-player{
    float:left;
}
.thumbnail{
    width:230px;
    height:100px;
    border:1px solid;
    border-radius:10px;
    position:absolute;
    margin-top:-170px;
    margin-left:380px;
    background:rgba(255,255,255,0.8)
}
.thumbnail h4{
    color:#000000a8;
    text-align:left;
    margin-left:35px;
    margin-top:20px;
}
.thumbnail h5{
    font-family:arial;
    color:#808080db;
    text-align:left;
    margin-left:35px;
    margin-top:5px;
}
.orange-button{
    position:absolute;
    width:50px;
    height:50px;
    background:#ff9d04;
    border-radius:50px;
    margin-top:-60px;
    margin-left:-25px;
}
.triangle{
    border-left:12px solid white;
    border-bottom:10px solid transparent;
    border-top:10px solid transparent;
    border-right:10px transparent;
    margin-top:15px;
    margin-left:19px;

}
.video-menu{
    width:370px;
    height:380px;
    box-shadow:5px 5px 10px #00000054;
    background-color:#8b96cc9c;
    margin-top:35px;
    display:inline-block;
}

