*{box-sizing: border-box;}
body{
    margin:0;
}
ul{
    margin:0;
    padding: 0;
    list-style:none;
}
p{
    margin:0;
}
.container{
    background-image: url("../Assets/asses/background-img.jpg");
    background-size: cover;
    width:1171px;
    margin:auto;
    height:788px;
    clear:both;
}
header{
    width:100%;
    background:white;
}
.contact-info{
    display:inline-block;
    float:right;
    padding-top:35px;
    clear:both;
    font-family:helvetica;
    color:grey;
}
.mail{
    border-left:1px solid;
    margin-left:5px;
    padding-left:10px;
}
.wrapper{
    width: 95%;
    margin:auto;
}


.banner{
    position:relative;
    font-family:sans-serif;
}
.ad-lines{
    position:absolute;
    width:580px;
    height:150px;
    display:inline-block;
    margin:80px 50px;
    color:white;
    font-size:30px;
}
.slogan1{
    font-size:38px;
}


.form-container{
    display:inline-block;
    float:right;
    width:378px;
    height:372px;
    background:white;
    margin-right:55px;
    margin-top:30px;
}
.form-wrapper{
    width:85%;
    margin:auto;
}
.resp{
    color:#e47c20;
    text-align:center;
    margin-bottom:12px;
}
input{
    width:307px;
    height:50px;
    border:none;
    border-bottom:1px solid grey;
}
input::placeholder{
    font-size:18px;
    color:#ccc0c0;
}
button{
    width:210px;
    height:50px;
    background:#0bb30bd6;
    border:none;
    font-family:helvetica;
    font-size:20px;
    color:white;
    margin:30px 50px;
}

.service-cards{
    width:1104px;
    height:220px;
    display:flex;
    background:#ffffff;
    margin-top:450px;
    margin-left:35px;
    padding:40px 0px;
    font-family:helvetica;

}
.card{
    display:inline-block;
    width:1100px/4;
    margin:0px 30px;
    text-align:center;
}
.dscrptn,h3,h5{
    color:grey;
}
h3{
    text-align:center;
    font-size:22px;
}
h5{
    font-size:15px;
}
