.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61e9fb;
}
header{
  width: auto;
  height: 100px;
  background-color: rgba(0, 132, 255, 0.692);
}
.main{
  background-color: rgb(157, 169, 219);
  height: 400px;
  width: 70%;
  display:inline-block;
  float:left;
}
footer{
  background-color: #61e9fb;
  height:100px;
  width:auto;
}
aside{
  display: inline-block;
  width:30%;
  height: 400px;
}
button{
  display:block;
  margin:20px 430px;
  width:100px;
  height:30px;
  border:none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
