*{box-sizing:border-box;}
body{
    margin:0;
}
table{
    width: 500px;
    border:5px solid rgba(128, 128, 128, 0.2);
    border-collapse: collapse;
    margin:auto;
}
th{
    background-color: yellow;;
}
th,td{
    border:2px solid;
}
caption{
    font-weight:900;
}
.female{
    background-color: aquamarine;

}
.male{
    background-color:#95b2ce8f;
}
