*{box-sizing:border-box;}
body{
    margin:0;
}
h1{
    text-align: center;
}
img{
    float:left;
}
p{
    text-align:justify;
    text-indent:2px;
}
table{
    float:right;
    width:500px;
    height:200px;
}
