*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.container{
    width: 80%;
    height:auto;
    background: dodgerblue;
    text-align: center;
    margin: 0px auto;
    padding-top:100px;
    padding-bottom: 10px;
}
hr{
    width:60px;
    height:15px;
    background:white;
    border:none;
}
#wish{
    font-size: 75px;
    margin-top:0px;
}
#date{
    font-size: 55px;
}
#time{
    font-size: 95px;
    font-weight:bolder;
    margin:50px;
}
p{
    color:white;
    font-family:helvetica;
}
