*{box-sizing: border-box;}
body{
    margin: 0px;
}
.logo{
    display: inline-block;
}
header{
    width:100%;
}
.wrapper{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.content-at-right{
    float: right;
    margin-left: 80px;
    display:inline-block;
}
header button{
    width:140px;
    height:40px;
    margin-top:25px;
    border:2px solid #65c930;
    background:white;
    font-family:monospace;
    color:#65c930;
    font-weight:900;
}
header label{
    margin-top:35px;
    font-weight:600;
    font-family: monospace;
}
nav{
    line-weight:60px;
    float:left;
    width:100%;
    background:#65c930
}
nav ul {
    list-style-type:none;
    margin-left:70px;
}
nav ul li{
    display:inline-block;
    margin-right:50px
}
nav ul li a{
    color:white;
    font-family: monospace;
    font-weight:900;
    font-size:14px;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #428522;
}
.for_banner{
    width:100%;
    position: relative;
}
.text_at_center{
    width: 500px;
    height: 300px;
    position:absolute;
    margin-top:-412px;
    margin-left:400px;
}

.for_banner h1,p{
    color:white;
    text-align:center;
    font-family:monospace;
    font-weight:900;
}
.for_banner h1{
    font-size:34px;
}
.button_at_banner{
    width:160px;
    height:40px;
    border:2px solid white;
    background:rgba(1,1,1,0);
    color:white;
    font-weight:900;
    margin-left:55px;
    margin-top:25px;
    font-family:monospace;
}
.button_at_banner:hover{
    cursor: pointer;
    background-color: #489E24;
}
.active{
    background: #65c930;
    border:#65c930;
}
.service_cards{
    margin-top:-80px;
    position: relative;
}
.cards{
    float:left;
    width:230px;
    height:270px;
    text-align:center;
    background:dodgerblue;
    padding-top:40px;
    padding-left:15px;
    padding-right:15px;

}
.cards:first-child{
    margin-left:200px;
}
#card1{
    background: #E5A3A3;
}

#card2{
    background:#B9A3E5;
}
#card3{
    background:#A3E5BB;
}
#card4{
    background:#D3E5A3;
}
h3{
    color:white;
    font-family:monospace;

}